extends layout

block content
    form(action="/doLogin", method="POST")
        span username
        input(type="text", name="username")
        br
        span password
        input(type="password", name="password")
        br
        input(type="hidden", name="remote", value="#{remote}")
        input(type="hidden", name="redirectUrl", value="#{redirectUrl}")
        input(type="submit", value="submit")